*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: #000;
    color: white;
    padding: 5%;
}
.lg-react-element{
    column-count: 3;
    column-gap: 5px;
}

img{
    max-width: 100%;
    display: block;
    padding: 8px 5px;
    border-radius: 20px;
    transition: transform 0.2s;
}
img:hover{
    filter: opacity(.9);
    transform: scale(1.01);
}